version: "3.9"

services:
  redis:
    image: redis:7
    container_name: insightplus-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: insightplus-clickhouse
    environment:
      CLICKHOUSE_DB: insightplus
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: insightpass
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./clickhouse_data:/var/lib/clickhouse
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: insightplus-postgres
    environment:
      POSTGRES_DB: insightplus
      POSTGRES_USER: insightuser
      POSTGRES_PASSWORD: insightpass
    ports:
      - "5432:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    restart: unless-stopped
